<%- include('layout') -%>
<br><br><br>
<div class="container">
  <h2><%= title %></h2>
  
  <form action="/paciente/delete" method="post">
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">CPF:</label>
      <div class="col-sm-10">
        <input
          class="form-control form-control-lg"
          type="text"
          name="cpf"
          pattern="\d{11}" 
          title="Digite um CPF com 11 dígitos"
          placeholder="Digite o CPF do paciente"
          required
        />
      </div>
    </div> 
    <div class="row mb-3">
      <div class="col-sm-10 offset-sm-2">
        <input class="btn btn-danger" type="submit" value="Excluir">
      </div>
    </div>
  </form>
</div>
